.header img{
    height:80px;
}
.header{
    text-align: center;
}

.header nav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-right: 20px;
    padding: 6px;
    line-height: 40px;
}

.header nav {
    background-color: black;
    height: 40px;
}

.header nav a:hover{
    background-color: gray;
}